<!DOCTYPE html>
<html lang="bs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <title> <%= title.status %> </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
    <style>
        body {
            background-color: #fbfbfb;
        }
        @media (min-width: 991.98px) {
            main {
                padding-left: 240px;
            }
        }

        /* Sidebar */
        .sidebar {
            position: fixed;
            top: 5px  ;
            /*background-color: #405fb2;*/
            bottom: 0;
            left: 0;
            margin: 65px 0 0; /* Height of navbar */
            /*box-shadow: 0 2px 5px 0 #bcc0cb, 0 2px 10px 0 #164979;*/
            width: 240px;
            z-index: 600;
        }

        @media (max-width: 991.98px) {
            .sidebar {
                width: 100%;
            }
        }
        .sidebar .active {
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 #0942dc, 0 2px 10px 0 #164979;
        }
    </style>
</head>
<body>

<div >
<!--    <h1 class="display-5 text-center">  Administrator e-Shopa </h1>-->
    <h1 class="display-4 text-center  " style="background-color:#bcc0cb">  <%=title.status%> </h1>

</div>
<div class="container-fluid ">

    <header>
        <!-- Sidebar -->
        <nav
                id="sidebarMenu"
                class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 ">
                    <!-- Collapse 1 -->
                    <a
                            class="list-group-item list-group-item-action py-2 ripple"
                            aria-current="true"
                            data-mdb-toggle="collapse"
                            href="#collapseExample1"
                            aria-expanded="true"
                            aria-controls="collapseExample1"
                    >
                        <i class="fas fa-users fa-fw me-3"></i
                         ><span> Korisnici </span>
                    </a>
                    <!-- Collapsed content -->
                    <ul
                            id="collapseExample1"
                            class="collapse show list-group list-group-flush"
                    >
                        <li class="list-group-item py-1">
                            <a href="/TalaShop/korisnik/headadmin?status=Lista korisnika"  class="text-reset"> Lista korisnika </a>
                        </li>

                        <li class="list-group-item py-1">
                        <a href="/TalaShop/korisnik/headadmin?status=Statistika korisnika"  class="text-reset"> Statistika </a>
                        </li>

                    </ul>
                    <!-- Collapse 1 -->

                    <!-- Collapse 2 -->
                    <a
                            class="list-group-item list-group-item-action py-2 ripple"
                            aria-current="true"
                            data-mdb-toggle="collapse"
                            href="#collapseExample2"
                            aria-expanded="true"
                            aria-controls="collapseExample2"
                    >
                         <i class="fas fa-bookmark me-4"></i
                         ><span> Kategorije </span>
                    </a>
                    <!-- Collapsed content -->
                    <ul
                            href="/TalaShop/narudzba/korpa"
                            id="collapseExample2"
                            class="list-group list-group-flush collapse show"
                    >
                        <li class="list-group-item py-1">
                            <a href="/TalaShop/korisnik/headadmin?status=Lista kategorija"  class="text-reset"> Lista kategorija  </a>
                        </li>
                        <li class="list-group-item py-1">
                            <a href="/TalaShop/korisnik/headadmin?status=Statistika kategorija"  class="text-reset"> Statistika </a>
                        </li>
                    </ul>
                    <!-- Collapse 2 -->
                    <!-- Collapse 3 -->

                 <!--
                    <a
                            class="list-group-item list-group-item-action py-2 ripple"
                            aria-current="true"
                            data-mdb-toggle="collapse"
                            href="#collapseExample3"
                            aria-expanded="true"
                            aria-controls="collapseExample3"
                    >
                        <i class="fas fa-poll-h  fa-fw me-3"></i
                         ><span> Ostala statistika</span>
                    </a>
                    &lt;!&ndash; Collapsed content &ndash;&gt;
                    <ul
                            href="/TalaShop/narudzba/korpa"
                            id="collapseExample3"
                            class="collapse list-group list-group-flush"
                    >
                        <li class="list-group-item py-1">
                            <a href="/TalaShop/korisnik/headadmin?status=Statistika1"  class="text-reset"> Prodaja  </a>
                        </li>
                        <li class="list-group-item py-1">
                            <a href="/TalaShop/korisnik/headadmin?status=Statistika2"  class="text-reset"> Kupovina  </a>
                        </li>
                    </ul>
                 -->
                    <!-- Collapse 2 -->
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    </header>
    <!--Main layout-->
    <main>
        <div class="container p-0 ">

            <% switch (title.status) {
            case 'Lista korisnika' : %>
<!--            <h1 class="display-5 text-center">  Lista registrovanih korisnika </h1>-->
            <%- include('head_admin/_lista_registrovanih_korisnika.ejs') %>
                    <% break;

            case 'Statistika korisnika' : %>
<!--            <h1 class="display-5 text-center">  Lista odbijenih narudžbi </h1>-->
            <%- include('head_admin/_statistika_korisnik.ejs') %>
                    <% break;

            case 'Lista kategorija' : %>
<!--            <h1 class="display-5 text-center h3">  Lista kategorija </h1> -->
            <%- include('head_admin/_lista_kategorija.ejs') %>
            <% break;

            case 'Statistika kategorija' : %>
<!--            <h1 class="display-5 text-center">  Statistika kategorija</h1> -->
            <%- include('head_admin/_statistika_kategorija.ejs') %>
                    <% break;

            default : %>
<!--            <h1 class="display-4 text-center  " style="background-color:#bcc0cb">  Lista registrovanih korisnika </h1>-->
            <%- include('head_admin/_lista_registrovanih_korisnika.ejs') %>
                     <% ;

            } %>

        </div>
    </main>
    <!--Main layout-->
</div>
<script>

</script>
</body>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
></script>
</html>
