
<% for(var i=0; i<recenzija.length; i++) {%>
    <div class="card-body pb-0" >
        <div class="row">
            <div class="col-md-2 text-center pe-0">
                <img src=" <%=recenzija[i].korisnik.slika%>  " class="rounded-circle shadow-1-strong img-fluid" alt="slika" width="79"  height="79"  />
                <p class=" text-center text-muted"> <%= moment(recenzija[i].createdAt).endOf('second').fromNow()%></p>
            </div>
            <div class="col-md-10 ps-0 ">
                <p class="m-0">
                    <p class="float-left" id="slikaKorisnika"><strong><%=recenzija[i].korisnik.ime%> <%=recenzija[i].korisnik.prezime%></strong></p>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                </p>
                <div class="clearfix" id="komentar"></div>
                <p> <%=recenzija[i].komentar%> </p>
                <p>
                    <a class="float-right btn btn-outline-primary ml-2 btn-sm"> <i class="fa fa-reply"></i> Odgovori </a>
                    <a class="float-right btn text-white btn-danger btn-sm">    <i class="fa fa-heart"></i> Sviđa mi se</a>
                </p>
            </div>
        </div>
    </div>
<% } %>

<div  class="card mb-2"   id="komentarDiv"> </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body ">
                        <div class="d-flex flex-start w-100">
                            <img
                                    class="rounded-circle shadow-1-strong me-3"
                                    <% if(user){ %>
                                    src="<%= korisnik.slika %>"
                                     <% } else{ %>
                                    src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                    <% } %>

                                    alt="avatar"
                                    width="65"
                                    height="65"
                            />
                            <div class="w-100">
                                <h5>Dodaj komentar</h5>
<!--                                <ul class="  mb-3 list-group list-group-horizontal" data-mdb-toggle="rating">-->
                                        <!-- <i class="far fa-star fa-sm text-danger" title="Bad"></i>
                                          <i class="far fa-star fa-sm text-danger" title="Poor"></i>
                                         <i class="far fa-star fa-sm text-danger" title="OK"></i>
                                         <i class="far fa-star fa-sm text-danger" title="Good"></i>
                                         <i class="far fa-star fa-sm text-danger" title="Excellent"></i>-->
<!--                                    <label class="control-label" for="rating">-->
<!--                                        <span class="field-label-header">How would you rate your ability to use the computer and access internet?*</span><br>-->
<!--                                        <span class="field-label-info"></span>-->
<!--                                        <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">-->
<!--                                    </label>-->
<!--                                    <h2 class="bold rating-header" style="">-->
<!--                                        <span class="selected-rating">0</span><small> / 5</small>-->
<!--                                    </h2>-->
                                    <div class="form-group mb-3" id="rating-ability-wrapper">
                                        <button type="button" class="btnrating btn btn-default btn-sm  " data-attr="1" id="rating-star-1" title="Loše">
                                             <i class="fa fa-star" aria-hidden="true" ></i>
                                        </button>
                                        <button type="button" class="btnrating btn btn-default btn-sm" data-attr="2" id="rating-star-2" title="Slabo">
                                            <i class="fa fa-star" aria-hidden="true" ></i>
                                        </button>
                                        <button type="button" class="btnrating btn btn-default btn-sm" data-attr="3" id="rating-star-3" title="OK">
                                            <i class="fa fa-star" aria-hidden="true" ></i>
                                        </button>
                                        <button type="button" class="btnrating btn btn-default btn-sm" data-attr="4" id="rating-star-4" title="Dobar">
                                            <i class="fa fa-star" aria-hidden="true" ></i>
                                        </button>
                                        <button type="button" class="btnrating btn btn-default btn-sm" data-attr="5" id="rating-star-5" title="Sjajno">
                                            <i class="fa fa-star"  ></i>
                                        </button>
                                    </div>
<!--                                 </ul>-->
                                <div class="form-outline">
                                    <textarea class="form-control" id="textAreaExample" value='' rows="2"></textarea>
                                    <label class="form-label" for="textAreaExample"
                                    >Kakav je vaš dojam? </label
                                    >
                                </div>
                                <div class="d-flex justify-content-end mt-3">
                                             <% if(user){ %>
                                    <button type="button" class="btn btn-primary"
                                            onclick="addRow('<%=user%>',
                                                    '<%=korisnik.slika%>', '<%=korisnik._id%>' , '<%=proizvod._id%>'  , '<%=status%>'  )" > Objavi </button>
                                              <% } else{ %>
                                        <button type="button" class="btn btn-primary"  > Objavi </button>
                                             <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    function addRow (username,  slika, idkomentosobe, idproizvoda, status) {
        if (status !== 'arhiviran'){
        let text = document.getElementById('textAreaExample').value;
        document.querySelector('#komentarDiv').insertAdjacentHTML(
            'afterbegin',
            `
            <div class="card-body pb-0" >
             <div class="row">
            <div class="col-md-2 text-center pe-0">
                <img src=" ${slika}  " class="rounded-circle shadow-1-strong img-fluid" alt="slika" width="99"  height="99"  />
                <p class=" text-center text-muted">Prije minutu</p>
            </div>
            <div class="col-md-10 ps-0">
                <p class="m-0">
                    <p class="float-left"  id="slikaKorisnika"><strong>${username}</strong></p>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                </p>
                <div class="clearfix" id="komentar"></div>
                <p> ${text} </p>
                <p>
                    <a class="float-right btn btn-outline-primary ml-2 btn-sm"> <i class="fa fa-reply"></i> Odgovori </a>
                    <a class="float-right btn text-white btn-danger btn-sm"> <i class="fa fa-heart"></i> Sviđa mi se</a>
                </p>
            </div>
        </div>
    </div>
            `
        )
        document.getElementById('textAreaExample').value = '';
        $.ajax({
            url: `/TalaShop/proizvod/${idproizvoda}/dodajKomentar`,
            type: 'POST',
            data: {
                tip: 'Proizvod',
                korisnik: idkomentosobe,
                proizvod: idproizvoda,
                rating: 4,
                komentar: text
            },
            beforeSend: function () {}
        }).done(function (data) {

        })
    }
    else
        alert('Administrator Vas je arhivirao i niste u mogućnosti izvršiti ovu radnju.')
 }

    jQuery(document).ready(function($){
$(".btnrating").on('click',(function(e) {

    var previous_value = $("#selected_rating").val();

    var selected_value = $(this).attr("data-attr");
    $("#selected_rating").val(selected_value);

    $(".selected-rating").empty();
    $(".selected-rating").html(selected_value);

    for (i = 1; i <= selected_value; ++i) {
    $("#rating-star-"+i).toggleClass('btn-warning');
    $("#rating-star-"+i).toggleClass('btn-default');
    }

    for (ix = 1; ix <= previous_value; ++ix) {
    $("#rating-star-"+ix).toggleClass('btn-warning');
    $("#rating-star-"+ix).toggleClass('btn-default');
    }

}));
});
</script>

