<!DOCTYPE html>
<html lang="bs">
<head>
    <title> Korisnici </title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
</head>
<body>
<div>
    <div>
        <table
                id="myTable"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-height="608"
        >
            <thead>
            <tr>
                <th class="h6" >Br.</th>
                <th data-field="name" class="h5">Ime i prezime</th>
                <th data-field="mail" class="h5">Mail</th>
                <th data-field="mess" class="h5"> Poruka </th>
                <th data-field="status" class="h5"> Status </th>
                <th class="h5"> Blokiraj/Arhiviraj  </th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<korisnici.length; i++) {%>
                <tr>
                    <td class="id"> <%=i+1%> </td>
                     <td class="h6"> <%=korisnici[i].ime%> <%=korisnici[i].prezime%> </td>
                     <td class="h6"> <%=korisnici[i].mail%> </td>
                    <td class="id"> <button class="btn btn-outline-dark" value="sendmess"  onclick="sendmess(this, <%=korisnici[i]._id%>)">
                            Pošalji poruku </button>
                    </td>
                    <td class="id">
                        <% switch (korisnici[i].status) {
                        case 'aktivan' : %>
                        <span class="text-success h6"> aktivan </span>
                                <% break;

                        case 'blokiran' : %>
                        <span class="text-danger h6"> blokiran </span>
                                <% break;

                        case 'arhiviran' : %>
                        <span class="text-warning h6"> arhiviran </span>
                                <% break;

                        } %>


                    </td>
                    <td class="id">
                        <% switch (korisnici[i].status) {
                        case 'aktivan' : %>
                        <button class="btn btn-outline-dark" id="button1" value="blokiraj"  onclick="promeniStatus(this, '<%=korisnici[i]._id%>', 'blokiran' )"
                        > Blokiraj </button>
                        <button class="btn btn-outline-dark" id="button2" value="arhiviraj"  onclick="promeniStatus(this, '<%=korisnici[i]._id%>', 'arhiviran')"
                        > Arhiviraj </button>
                        <% break;

                        case 'blokiran' : %>
                        <button class="btn btn-outline-dark" id="button3" value="aktiviraj"  onclick="promeniStatus(this, '<%=korisnici[i]._id%>', 'aktivan')"
                        > Aktiviraj </button>
                        <% break;

                        case 'arhiviran' : %>
                        <button class="btn btn-outline-dark" id="button4" value="aktiviraj"  onclick="promeniStatus(this, '<%=korisnici[i]._id%>', 'aktivan')"
                        > Aktiviraj </button>
                        <% break;

                        } %>


                    </td>
                </tr>
            <% } %>

            </tbody>
        </table>
    </div>
</div>

<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script>
    function promeniStatus(r, id, status) {
            console.log(id, status)
            let data = {};
            data.status = status;
            var request = {
                "url" : `/TalaShop/korisnik/headadmin/${id}`,
                "method" : "PUT",
                data : data
            }
            $.ajax(request).done(function(response){
                location.reload();
            })
    }

    function sendmess(r, id) {

        // let text = "Potvrdite još jednom.";
        // if (confirm(text) === true) {

            console.log(id)
            // var request = {
            //     "url" : `/TalaShop/narudzba/korpa?status=Obrisano`,
            //     "method" : "POST",
            //     contentType : "application/json",
            //     processData : false,
            //     data : JSON.stringify([id] )
            // }
            // $.ajax(request).done(function(response){
            //     location.reload();
            // })
        // }
    }
</script>
</body>
</html>