<style>
   .blink_me {animation: blinker 1s linear infinite;}.pe-5{padding-right:3rem!important}.pb-0{padding-bottom:0!important}.pb-1{padding-bottom:.25rem!important}.pb-2{padding-bottom:.5rem!important}.pb-3{padding-bottom:1rem!important}.pb-4{padding-bottom:1.5rem!important}.pb-5{padding-bottom:3rem!important}

    @keyframes blinker { 50% {
        opacity: 0;} }

    @media (min-width: 992px) {
        .col-md-3 {
            width: 24.85%;
        }
    }

</style>
<link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
/>

<% proizvod.forEach(function(proizvod) { %>

<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="<%=proizvod.slika%>"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body pt-0 pb-1"  >
            <h3 class="card-title m-0 mt-3"  > <%=proizvod.naziv%></h3>
            <p class="card-text m-0" >
                <%= proizvod.kategorija.naziv %>
            </p>
            <p style="margin-bottom: 3px"><%=proizvod.cijena%><b> KM</b></p>
            <a href="#!"  class="btn btn-primary" style="padding-left: 0.625em; padding-right: 0.625em"  >
                Dodaj u korpu</a>
            <a href="#!" style="padding-left: 0.825em; padding-right: 0.825em" class="btn btn-danger mt-1 " ><i class="far fa-bookmark" ></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="/TalaShop/proizvod/<%=proizvod._id%>" class="btn btn-outline-primary " >
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted row justify-content-between pt-0 ps-2 pb-0 pe-2 m-0">

            <div  class="col-4 text-start mt-3" >
                <i class="far fa-eye"></i>
                <span class="light color__dark--3">702</span>
            </div>
            <div  class="col-8 text-end  mt-3 " >
                <p    > <%= moment(proizvod.createdAt).endOf('second').fromNow() %></p>
            </div>
        </div>
    </div>
</div>

<% }); %>

<!--

<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body pt-0 pb-1"  >
            <h3 class="card-title m-0"  > Audi a80</h3>
            <p class="card-text m-0" >
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!"  class="btn btn-primary" style="padding-left: 0.625em; padding-right: 0.625em"  >
                Dodaj u korpu</a>
            <a href="#!" style="padding-left: 0.825em; padding-right: 0.825em" class="btn btn-danger mt-1 " ><i class="far fa-bookmark" ></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <i class="far fa-eye"></i>
                <span class="light color__dark&#45;&#45;3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>
-->
