

<article class="card-body p-2" style="height: 50vh">
                    <h3 class="title mb-0"><%= proizvod.naziv %></h3>
                    <span> Objavio korisnik  <a href="/TalaShop/korisnik/<%=proizvod.korisnik._id%> ">
                                <%= proizvod.korisnik.nickName %></a>  <i> <%= moment(proizvod.createdAt).endOf('second').fromNow()%>  </i> </span>

                    <p class="price-detail-wrap mb-0 mt-3">
			<span class="price h3 text-warning">
				<span class="currency"><%= proizvod.cijena %></span><span class="num"> KM</span>
			</span>
                    </p>
    <span> <% if(proizvod.besplatnaDostava){ %>  <i>Besplatna dostava</i>   <% } %>  </span>
                    <dl class="item-property mt-2">
                        <dt>Opis</dt>
                        <dd>
                            <p><%= proizvod.detaljnjiOpis %> </p>
                        </dd>
                    </dl>
                    <div class="d-flex ">
                        <b>Zemlja</b> <p class="mb-2">: <%= proizvod.korisnik.zemlja %></p>
                    </div>
                    <div class="d-flex ">
                        <b>Grad</b> <p class="mb-2" >: <%= proizvod.grad %></p>
                    </div>
                    <div class="d-flex ">
                        <b>Boja</b> <p class="mb-2" >: <%= proizvod.boja %></p>
                    </div>
                    <div class="d-flex ">
                        <b>Stanje</b> <p class="mb-2" >: <%= proizvod.stanje %></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="param param-inline">
                                <dt>Količina: </dt>
                                <dd>

                                    <select class="form-select  form-control-sm" aria-label="Default select example"  style="width:auto;">
                                        <% for(var i = 1; i <= proizvod.kolicina; i++) {%>
                                        <option value=<%=i%>> <%= i %> </option>
                                        <% } %>
                                    </select>
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                    <a href="#" class="btn btn-lg btn-primary text-uppercase mb-4" id="dodajNarudzbu"
                      <% if(user){ %>
                       onclick="dodajNarudzbu('<%=userId%>', '<%=proizvod._id%>', '<%=proizvod.kolicina%>')"
                    <% } else{ %>
                       onclick="showAlert('Niste prijavljeni!')"
                        <% } %> >
                        <i class="fas fa-truck me-1"></i> ZAPOČNI NARUDŽBU
                    </a>
                    <a href="#" class="btn btn-lg btn-outline-primary text-uppercase mb-4"
                       <% if(user){ %>
                       onclick="dodajNarudzbu('<%=userId%>','<%=proizvod._id%>', '<%=proizvod.kolicina%>')"
                        <% } else{ %>
                        onclick="showAlert('Niste prijavljeni!')"
                       <% } %> >

                        <i class="fas fa-shopping-cart me-1"></i> dodaj u korpu </a>
                </article> <!-- card-body.// -->


<script>
    function showAlert(error) {
        alert(error)
    }

    function dodajNarudzbu(korisnikId, proizvodId, kolicina ) {
        console.log(korisnikId, '+', proizvodId);

        var data = {}
        data.korisnik = korisnikId;
        data.proizvod = proizvodId;
        data.kolicina = kolicina;

        console.log(data);


        var request = {
            // "url" : `/TalaShop/narudzba/korpa`,
            "url" : `/TalaShop/narudzba`,
            "method" : "POST",
            contentType : "application/json",
            processData : false,
            data : JSON.stringify(data)
        }

        $.ajax(request).done(function(response){
            alert("Dodali ste artikl u korpu!");
        })
    }
</script>