<!DOCTYPE html>
<html lang="bs">
<head>
    <title><%= korisnik.trgovina.nazivFirme %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
    <style>

    </style>
</head>

<div class="row pb-3 pt-3 m-0 p-0" style="background-color: #eee;  ">
    <!-- Navbar -->
    <div class="container">
        <%-include('./include/_navBarnew')%>
    </div>
    <div class="container pt-2">

        <div class="row">
            <div class="col-lg-3 ">
                <div class="card mb-2">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3"> <%= korisnik.nickName %> </h5>

                         <p class="text-muted mb-1"> <%=  korisnik.trgovina.nazivFirme %></p>
                        <p class="text-muted mb-1"> <%=  korisnik.trgovina.adresaFirme %>, <%= korisnik.trgovina.gradFirme %>, <%=  korisnik.zemlja %> </p>
                        <p class="text-muted mb-4"> <%=  korisnik.telefon %> </p>

                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary ms-1">Poruka</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 ">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">

                            <li class="list-group-item d-flex  align-items-center  ">
                                <span class="badge badge-pill justify-content-left badge-primary me-3">157</span>
                                <span class=" "> Prodatih artikala </span>
                            </li>
                            <li class="list-group-item d-flex  align-items-center  ">
                                <span class="badge badge-pill justify-content-left badge-primary me-3">157</span>
                                <span class=" "> Broj pregleda </span>
                            </li>
                            <li class="list-group-item d-flex  align-items-center  ">
                                <span class="badge badge-pill justify-content-left badge-success me-3">15 </span>
                                <span class=" "> Pozitivnih dojmova </span>
                            </li>
                            <li class="list-group-item d-flex  align-items-center ">
                                <span class="badge badge-pill justify-content-left badge-light  me-3"> 0  </span>
                                <span class=" "> Neutralnih dojmova </span>
                            </li>
                            <li class="list-group-item d-flex  align-items-center  ">
                                <span class="badge badge-pill justify-content-left badge-danger me-3">1</span>
                                <span class=" "> Negativnih dojmova </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-body">
                        <%-include('./include/_tabMenuKorisnik')%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
</body>

 <script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js">
 </script>
</html>