<!DOCTYPE html>
<!DOCTYPE html>
<html lang="bs">
<head>
    <title> <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style>
        #div01 {
            top: 2vh;
        }
        #div02 {
            top:    25vh ;
        }
    </style>

</head>
<body >

<div class="row pb-3 pt-3 m-0 p-0" style="background-color: #eee;  ">
    <!-- Navbar -->
    <div class="container">
        <%-include('./include/_navBarnew')%>
    </div>

    <div class="  container pt-2 "   >
        <div class="row" >

            <div class=" col-lg-9 border-left">
                <div class="card table-responsive">
                    <table class="table   table-hover   text-center" >
                        <thead class="  bg-dark bg-gradient text-white">
                        <tr>
                            <th scope="col">Slika proizvoda</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Količina</th>
                            <th scope="col">Cijena</th>
                            <th scope="col">Ukupno</th>
                            <th scope="col">Ukloni</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">

                        <% for(var i=0; i<korpa.length; i++) {%>
                             <tr>
                                <th class="text-center" > <img   style="max-width: 50%; height: 50%; "
                            src="<%=korpa[i].proizvod.slika || 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fdumkalcollege.org%2Fnon-teaching-staff&psig=AOvVaw1y5yqOE9vzWASmjUwX2NTc&ust=1642389988060000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCLiU9dKptfUCFQAAAAAdAAAAABAJ' %>"
                                                                 alt="slika">  </th>

                                <td class="col-md-3 col-lg-4"><%=korpa[i].proizvod.opis  || 'opis'%></td>
                                <td>
                                    <!--  todo: dodat ID iz baze umjesto 2// ili int i staviti da bih mogao dobiti konacnu cijenu-->
                                    <select id="sel<%=i%>" onchange="sumiraj( 'sel<%=i%>' ,  'kes<%=i%>' ,  'ukupno<%=i%>' )"  class="form-select  form-control-sm  ms-4" aria-label="Default select example"  style="width:auto;">
                                        <% for(var j=0; j<korpa[i].proizvod.kolicina; j++) {%>
                                            <option value=""> <%=j+1%> </option>
                                        <% } %>
                                    </select>
                                </td>
                                <td >
                                    <div class=" d-flex justify-content-center      pt-3" >
                                        <p id='kes<%=i%>' class="price"><%=korpa[i].proizvod.cijena%></p> <span><b>      KM</b> </span>
                                    </div> </td>
                                <td >
                                    <div class=" d-flex justify-content-center      pt-3">
                                        <p id='ukupno<%=i%>' value=""><%=korpa[i].proizvod.cijena%></p> <span><b>  KM</b> </span>
                                    </div> </td>

                                <td class="text-end">
                                    <button type="button" class="btn btn-danger btn-sm px-3 text-ceter" >
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        <% } %>



                        </tbody>
                    </table>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <div class="col-lg-3 ">
                <div class="card mb-2  mt-2  sticky-top " id="div01">
                    <div class="card-body text-center  ">
                        <dt class="  mb-3">
                            Imate kupon?
                        </dt>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Kupon kod" aria-label="Kupon kod"
                                   aria-describedby="button-addon2" />
                            <button class="btn btn-outline-primary" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                Provjeri
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 sticky-top " id="div02">
                    <div class="card-body  ">
                        <dl class="row  p-3">
                            <dd class="col-sm-6">Cijena artikala:</dd>
                            <dt class="col-sm-6" id="ukupnoCijenaProizvoda"> 150  <span >  KM  </span>


                            <dd class="col-sm-6"> Dostava: </dd>
                            <dt class="col-sm-6" id="dostava"><%=dostava%><span> KM </span> </dt>

                            <dd class="col-sm-6">Popust:</dd>
                            <dt class="col-sm-6" id="popust"><%=popust%></dt>

                            <dd class="col-sm-6"> Ukupno: </dd>
                            <dt class="col-sm-6" id="ukupnoZaPlatit">138<span> KM </span> </dt>

                            <hr class="col-sm-12   ">

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary mb-2"  id="button-addon3"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-mdb-ripple-color="dark">
                                <i class="fas fa-shopping-bag me-1"></i> Naruči
                            </button>

                            <a href="/TalaShop" class="btn btn-outline-primary " >
                                vrati se na početnu</a>
                        </dl>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <% if (user) { %>
            <div class="modal   fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered  ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="staticBackdropLabel"> <i class="fas fa-truck me-1"></i> Podaci za dostavu</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body p-4">
                                <form id="dodajNarudzbu" action="/TalaShop/narudzba/korpa"  method="post">
                                    <div class="d-flex flex-row align-items-center mb-1 pb-1">
                                        <div class="row ">

                                            <div class="col-md-6 mb-3">
                                                <div class="form-outline">
                                                    <input
                                                            id="adresa1"
                                                            class="form-control form-control-lg"
                                                            placeholder="Adresa 1" value="<%=korisnik.ulica%>" name="adresa1"
                                                    />
                                                    <label class="form-label" for="adresa1"> Adresa 1</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <div class="form-outline">
                                                    <input
                                                            id="telefon"
                                                            class="form-control form-control-lg"
                                                            placeholder="Telefon"  value="<%=korisnik.telefon%> " name="telefon"
                                                    />
                                                    <label class="form-label" for="telefon"> Telefon </label>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <div class="form-outline">
                                                    <input
                                                            id="adresa2"
                                                            class="form-control form-control-lg"
                                                            placeholder="Adresa"  value="" name="adresa2"
                                                    />
                                                    <label class="form-label" for="adresa2"> Adresa 2  </label>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <div class="form-outline">
                                                    <input
                                                            id="grad"
                                                            class="form-control form-control-lg"
                                                            placeholder="Grad"  value="<%=korisnik.grad%>" name="grad"
                                                    />
                                                    <label class="form-label" for="telefon"> Grad </label>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <div class="form-outline">
                                                    <input
                                                            id="postanskiBroj"
                                                            class="form-control form-control-lg"
                                                            placeholder="Poštanski broj"  value="<%=korisnik.postanskiBroj%>" name="postanskiBroj"
                                                    />
                                                    <label class="form-label" for="postanskiBroj"> Poštanski broj </label>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <div class="form-outline">
                                                    <input
                                                            id="zemlja"
                                                            class="form-control form-control-lg"
                                                            placeholder="Zemlja"  value="<%=korisnik.zemlja%>" name="zemlja"
                                                    />
                                                    <label class="form-label" for="zemlja"> Zemlja </label>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-outline">
                                                    <textarea
                                                            id="poruka"
                                                            class="form-control form-control-lg"
                                                            placeholder="Poruka za korisnika"  value=" " name="poruka"></textarea>
                                                    <label class="form-label" for="Poruka"> Poruka za korisnika </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-outline mb-4">
                                        <input
                                                id="formControlLgXsd"
                                                class="form-control form-control-lg"
                                                value="<%=korisnik.ime%>" name="ime" placeholder="Ime i Prezime"
                                        />
                                        <label class="form-label" for="formControlLgXsd">  Ime i Prezime </label>
                                    </div>

                                    <div class="row  ">
                                        <div class="col-7">
                                            <div class="form-outline">
                                                <input
                                                        id="formControlLgXM1"
                                                        class="form-control form-control-lg"
                                                        placeholder="**** **** **** ****"
                                                />
                                                <label class="form-label" for="formControlLgXM1">Broj kartice</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-outline">
                                                <input
                                                        id="formControlLgExpk"
                                                        class="form-control form-control-lg"
                                                        placeholder="MM/YYYY"
                                                />
                                                <label class="form-label" for="formControlLgExpk">Expire</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-outline">
                                                <input
                                                        type="password"
                                                        id="formControlLgcvv"
                                                        class="form-control form-control-lg"
                                                        placeholder="Cvv"
                                                />
                                                <label class="form-label" for="formControlLgcvv">Cvv</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> zatvori </button>
                                        <button type="submit" value="Submit" class="btn btn-primary" > KOMPLETIRAJ NARUDŽBU </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>


            <!-- Modal -->
        </div>
    </div>
</div>


</body>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
<script>


    // CIJENA, POPUSTI I OSTALO
    var ukupnoZaPlatit = 0.0;
    $('.price').each(function()
    {        ukupnoZaPlatit += parseFloat($(this).text());  }); ukupnoZaPlatit = Math.round(ukupnoZaPlatit)

    $('#ukupnoCijenaProizvoda').text(ukupnoZaPlatit + " KM");

    var dostava = ($('#dostava').text()),     postotak = ($('#popust').text());
    dostava = Number(dostava.replace(/[^0-9]/g,''));  postotak = Number(postotak.replace(/[^0-9]/g,''));

    $('#ukupnoZaPlatit').text( Number(((ukupnoZaPlatit + dostava) * ( (100-postotak) / 100 )).toFixed(1)) + " KM");

    function sumiraj(id, cijena, ukupno){ // ukupno -> ukupna cijena od proizvoda,
        let k2 = ukupnoZaPlatit - parseFloat($(`#${ukupno}`).text()), kes = $(`#${cijena}`).text();

        var select = $(`#${id} option:selected`).text();
        let sumaTrenutnogProizvoda = parseFloat(select) * parseFloat(kes)

        $(`#${ukupno}`).text(sumaTrenutnogProizvoda);
        ukupnoZaPlatit = k2 + sumaTrenutnogProizvoda;

        ciejnaSaPopustom =   Number(((ukupnoZaPlatit + dostava) * ( (100-postotak) / 100 )).toFixed(1));

        console.log(ukupnoZaPlatit + dostava , postotak, ciejnaSaPopustom)

        $('#ukupnoCijenaProizvoda').text((ukupnoZaPlatit) + " KM");
        $('#ukupnoZaPlatit').text(ciejnaSaPopustom + " KM");
    }

    //MODAL
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })

</script>
</html>