<!DOCTYPE html>
<!DOCTYPE html>
<html lang="bs">
<head>
    <title> <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- bootstrap -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style>
        #div01 {
            top: 2vh;
        }
        #div02 {
            top:    25vh ;
        }
    </style>

</head>
<body >

<div class="row pb-3 pt-3 m-0 p-0" style="background-color: #eee;  ">
    <!-- Navbar -->
    <div class="container">
        <%-include('./include/_navBarnew')%>
    </div>

    <div class="  container pt-2 "   >
        <div class="row" >

            <div class=" col-lg-9 border-left">
                <div class="card table-responsive">
                    <table class="table   table-hover   text-center" >
                        <thead class="  bg-dark bg-gradient text-white">
                        <tr>
                            <th scope="col">Slika proizvoda</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Količina</th>
                            <th scope="col">Cijena</th>
                            <th scope="col">Ukupno</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">

                        <% for(var i=0; i<korpa.length; i++) {%>
                             <tr>
                                <th class="text-center" > <img   style="max-width: 60%; height: 60%; "
                            src="<%=korpa[i].proizvod.slika || 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fdumkalcollege.org%2Fnon-teaching-staff&psig=AOvVaw1y5yqOE9vzWASmjUwX2NTc&ust=1642389988060000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCLiU9dKptfUCFQAAAAAdAAAAABAJ' %>"
                                                                 alt="slika">  </th>

                                <td class="col-md-3 col-lg-4"><%=korpa[i].proizvod.opis  || 'opis'%></td>
                                <td>
                                    <!--  todo: dodat ID iz baze umjesto 2// ili int i staviti da bih mogao dobiti konacnu cijenu-->
                                    <select id="sel<%=i%>" onchange="sumiraj( 'sel<%=i%>' ,  'kes<%=i%>' ,  'ukupno<%=i%>' )"  class="form-select  form-control-sm  ms-4" aria-label="Default select example"  style="width:auto;">
                                        <% for(var j=0; j<korpa[i].proizvod.kolicina; j++) {%>
                                            <option value=""> <%=j+1%> </option>
                                        <% } %>
                                    </select>
                                </td>
                                <td >
                                    <div class=" d-flex justify-content-center      pt-3" >
                                        <p id='kes<%=i%>' class="price"><%=korpa[i].proizvod.cijena%></p> <span><b>      KM</b> </span>
                                    </div> </td>
                                <td >
                                    <div class=" d-flex justify-content-center      pt-3">
                                        <p id='ukupno<%=i%>' value=""><%=korpa[i].proizvod.cijena%></p> <span><b>  KM</b> </span>
                                    </div> </td>

                                <td class="text-end">
                                    <button type="button" class="btn btn-danger btn-sm px-3 text-ceter">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        <% } %>



                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-3 ">
                <div class="card mb-2  mt-2  sticky-top " id="div01">
                    <div class="card-body text-center  ">
                        <dt class="  mb-3">
                            Imate kupon?
                        </dt>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Kupon kod" aria-label="Kupon kod"
                                   aria-describedby="button-addon2" />
                            <button class="btn btn-outline-primary" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                Provjeri
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 sticky-top " id="div02">
                    <div class="card-body  ">
                        <dl class="row  p-3">
                            <dd class="col-sm-6">Cijena artikala:</dd>
                            <dt class="col-sm-6" id="ukupnoCijenaProizvoda"> 150  <span >  KM  </span>


                            <dd class="col-sm-6"> Dostava: </dd>
                            <dt class="col-sm-6" id="dostava"><%=dostava%><span> KM </span> </dt>

                            <dd class="col-sm-6">Popust:</dd>
                            <dt class="col-sm-6" id="popust"><%=popust%></dt>

                            <dd class="col-sm-6"> Ukupno: </dd>
                            <dt class="col-sm-6" id="ukupnoZaPlatit">138<span> KM </span> </dt>

                            <hr class="col-sm-12   ">


                            <button class="btn btn-primary mb-2" type="button" id="button-addon3" data-mdb-ripple-color="dark">
                                Plati karticom
                            </button>

                            <button class="btn btn-outline-primary" type="button" id="button-addon4" data-mdb-ripple-color="dark">
                                vrati se na početnu
                            </button>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
<script>
    var ukupnoZaPlatit = 0.0;
    $('.price').each(function()
    {        ukupnoZaPlatit += parseFloat($(this).text());  }); ukupnoZaPlatit = Math.round(ukupnoZaPlatit)

    $('#ukupnoCijenaProizvoda').text(ukupnoZaPlatit + " KM");

    var dostava = ($('#dostava').text()),     postotak = ($('#popust').text());
    dostava = Number(dostava.replace(/[^0-9]/g,''));  postotak = Number(postotak.replace(/[^0-9]/g,''));

    $('#ukupnoZaPlatit').text( Number(((ukupnoZaPlatit + dostava) * ( (100-postotak) / 100 )).toFixed(1)) + " KM");

    function sumiraj(id, cijena, ukupno){ // ukupno -> ukupna cijena od proizvoda,
        let k2 = ukupnoZaPlatit - parseFloat($(`#${ukupno}`).text()), kes = $(`#${cijena}`).text();

        var select = $(`#${id} option:selected`).text();
        let sumaTrenutnogProizvoda = parseFloat(select) * parseFloat(kes)

        $(`#${ukupno}`).text(sumaTrenutnogProizvoda);
        ukupnoZaPlatit = k2 + sumaTrenutnogProizvoda;

        ciejnaSaPopustom =   Number(((ukupnoZaPlatit + dostava) * ( (100-postotak) / 100 )).toFixed(1));

        console.log(ukupnoZaPlatit + dostava , postotak, ciejnaSaPopustom)

        $('#ukupnoCijenaProizvoda').text((ukupnoZaPlatit) + " KM");
        $('#ukupnoZaPlatit').text(ciejnaSaPopustom + " KM");

    }
</script>
</html>