<!DOCTYPE html>
<html lang="bs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
<style>
    .intro {
        height: 100vh;
    }

    .gradient-custom {

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, #093485, #5881d2);
     }
</style>
</head>
     <div class="mask d-flex align-items-center  gradient-custom" >
        <div class="container"  >
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7" >
                    <div class="card">
                        <div class="card-body  ">
                            <h3 class="mb-4 pb-2">Registracija</h3>

                            <form action="/TalaShop/korisnik/register" method="POST" id="add_korisnik" >

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="ime" class="form-control" name="ime" value="" />
                                            <label class="form-label"   for="ime">Ime</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="prezime" class="form-control" name="prezime" value="" />
                                            <label class="form-label"  for="prezime">Prezime</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="zemlja" class="form-control" name="zemlja" value=""  />
                                            <label class="form-label" for="zemlja">Zemlja</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="grad" class="form-control"  name="grad" value=""/>
                                            <label class="form-label" for="grad">Grad</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="ulica" class="form-control"  name="ulica" value="" />
                                            <label class="form-label"  for="ulica">Ulica</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="number" id="postanskiBroj" class="form-control" name="postanskiBroj" value="" />
                                            <label class="form-label"  for="postanskiBroj">Poštanski broj</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline datepicker">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="datumRodenja" name="datumRodenja" value=""
                                            />
                                            <label class="form-label" for="datumRodenja">Datum rođenja</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <h6 class="mb-2 pb-1">Spol: </h6>

                                        <div class="form-check form-check-inline">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    id="Muško"
                                                    value="M" name="spol"
                                            />
                                            <label class="form-check-label"  for="Muško">Muško</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    id="Žensko"
                                                    value="Ž" name="spol"
                                            />
                                            <label class="form-check-label" for="Žensko">Žensko</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="email" id="mail" class="form-control"  name="mail" value="" />
                                            <label class="form-label" for="mail">Email</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="phoneNumber" class="form-control" name="telefon" value=""/>
                                            <label class="form-label"  for="Prezime">Telefon</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="password" id="passwordHash" class="form-control" name="password" value="" />
                                            <label class="form-label"  for="passwordHash">Šifra</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="password" class="form-control" />
                                            <label class="form-label" >Potvrdi šifru</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Registruj se kao: </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="kupac" value= false name="jelAdmin" />
                                        <a class="text" data-mdb-toggle="collapse" href="#kupac1" role="button" aria-expanded="false" aria-controls="kupac1" >
                                            <label class="form-check-label text-dark"  for="kupac">Kupac</label>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="trgovac" value= true name="jelAdmin" />
                                        <a class="text " data-mdb-toggle="collapse" href="#trgovac1" role="button" aria-expanded="false" aria-controls="trgovac1" >
                                        <label class="form-check-label text-dark"  for="trgovac">Trgovac</label>
                                                <i class="fas fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="collapse " id="kupac1">
                                    <label class="pb-1">Interesi:</label> <br>
                                    <% for(var i=0; i<kategorija.length; i++) {%>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="interesi" id="<%=kategorija[i]._id %>+k"     value="<%=kategorija[i]._id %>" >
                                        <label class="form-check-label" for="<%=kategorija[i]._id %>+k"><%= kategorija[i].naziv %></label>
                                    </div>
                                    <% } %>
                                </div>

                                <div class="collapse " id="trgovac1">
                                    <label class="pb-1">Kategorije usluga:</label> <br>
                                    <% for(var i=0; i<kategorija.length; i++) {%>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="kategorijeUsluga" id="<%=kategorija[i]._id %>+t"     value="<%=kategorija[i]._id %>" >
                                        <label class="form-check-label" for="<%=kategorija[i]._id %>+t"><%= kategorija[i].naziv %></label>
                                    </div>
                                    <% } %>
                                </div>


                                <div class="row">
                                    <div class="col-12">
                                        <div class="mt-1">
                                            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
<body>
</body>
<!-- Bootstrap -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
></script>
</html>

