<!DOCTYPE html>
<html lang="bs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Uredi profil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        body {
            background: linear-gradient(to bottom right, #093485, #5881d2);
        }

        .labels {
            font-size: 11px
        }
    </style>
</head>
<body>


<div class="container rounded bg-white mt-5 mb-5">
    <form id="formUrediKorisnika"  method="post">
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-md-6 border-center">
                    <div class="d-flex flex-column align-items-center text-center py-3"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <span class="font-weight-bold"> <%= korisnik.ime%> </span><span class="text-black-50"> <%= korisnik.mail%> </span><span> </span></div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-md-6 pe-5 " >
                        <input class="form-control form-control-lg" id="formFileLg" type="file" />
                        <div class="small text-muted mt-2 text-center "> Dodajte svoju profilnu sliku. </div>
                </div>
                </div>
            </div>
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between mb-3">
                        <h4 class="text-right">Uredi svoj profil</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Ime</label>    <input name="ime" type="text" class="form-control" placeholder="ime" value="<%=korisnik.ime%>" ></div>
                        <div class="col-md-6"><label class="labels">Prezime</label><input name="prezime" type="text" class="form-control" value="<%=korisnik.prezime%>" placeholder="prezime"></div>

                        <div class="col-md-12"><label class="labels">Naziv profila</label><input name="nickName" type="text" class="form-control" placeholder="" value="<%=korisnik.nickName%>"></div>
                        <div class="col-md-12"><label class="labels">Mail</label><input name="mail" type="text" class="form-control" placeholder=" " value="<%=korisnik.mail%>"></div>
                        <div class="col-md-12"><label class="labels">Telefon</label><input name="telefon" type="text" class="form-control" placeholder=" " value="<%=korisnik.telefon%>"></div>
                        <div class="col-md-12"><label class="labels">Zemlja</label><input name="zemlja" type="text" class="form-control" placeholder=" " value="<%=korisnik.zemlja%>"></div>
                        <div class="col-md-6"><label class="labels">Grad</label><input name="grad" type="text" class="form-control" placeholder=" " value="<%=korisnik.grad%>"></div>
                        <div class="col-md-6"><label class="labels">Ulica</label><input name="ulica" type="text" class="form-control" placeholder=" " value="<%=korisnik.ulica%>"></div>

                        <div class="col-md-12"><label class="labels">Poštanski broj</label><input name="postanskiBroj" type="text" class="form-control" placeholder=" " value="<%=korisnik.postanskiBroj%>"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Uredi svoju trgovinu</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Naziv firme</label><input name="nazivFirme" type="text" class="form-control" placeholder=" " value="<%=korisnik.trgovina.nazivFirme%>"></div>
                        <div class="col-md-12"><label class="labels">Telefon firme </label><input name="telefonFirme" type="text" class="form-control" placeholder=" " value="<%=korisnik.trgovina.telefonFirme%>"></div>
                        <div class="col-md-12"><label class="labels">Mail firme</label><input name="mailFirme" type="text" class="form-control" placeholder=""  value="<%=korisnik.trgovina.mailFirme%>"></div>
                        <div class="col-md-12"><label class="labels">Adresa firme</label><input name="adresaFirme" type="text" class="form-control" placeholder ="" value="<%=korisnik.trgovina.adresaFirme%>"></div>
                        <div class="col-md-12"><label class="labels">Grad firme</label><input name="gradFirme" type="text" class="form-control" placeholder ="" value="<%=korisnik.trgovina.gradFirme%>"></div>
                        <div class="col-md-12"><label class="labels">Adrese poslovnica</label><input name="adresePoslovnica" type="text" class="form-control" placeholder ="" value="<%=korisnik.trgovina.adresePoslovnica%>"></div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 ps-4">
                <label class="pb-1">Kategorije usluga:</label> <br>
                <% for(var i=0; i<kategorija.length; i++) {%>
                    <% if(korisnik.trgovina.kategorijeUsluga.includes( kategorija[i]._id )){ %>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="kategorijeUsluga" id="<%=kategorija[i]._id %>"     value="<%=kategorija[i]._id %>" checked>
                            <label class="form-check-label" for="<%=kategorija[i]._id %>"><%= kategorija[i].naziv %></label>
                        </div>
                    <% } else{ %>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="kategorijeUsluga" id="<%=kategorija[i]._id %>" value="<%=kategorija[i]._id %>" >
                                <label class="form-check-label" for="<%=kategorija[i]._id %>"><%= kategorija[i].naziv %></label>
                            </div>
                    <% } %>
                <% } %>

            </div>


            <div class="m-2 text-center">
                <button class="btn btn-primary profile-button" type="submit" value="Submit">Spasi promjene</button>
            </div>
        </div>
    </form>
</div>

</body>
<script>
    /*function urediArtikl(id) {
        $.ajax({
            url: `/TalaShop/proizvod/id`,
             type: 'PUT',
            success: function (result) {
                location.replace(`/TalaShop/proizvod/${id}`);
            }
        });
    }*/

    $("#formUrediKorisnika").submit(function(event){
        event.preventDefault();

        var unindexed_array = $(this).serializeArray();
        var data = {}
        let kategorijeUsluga =[ ];

        $.map(unindexed_array, function(n){
            if(n['name'] === 'kategorijeUsluga'){
                 kategorijeUsluga.push( n['value'] );
            }
            else {
                data[n['name']] = n['value']
            }
        })
        data.kategorijeUsluga = kategorijeUsluga ;
        console.log(data.kategorijeUsluga);

        var request = {
             url  : `/TalaShop/korisnik/<%=korisnik._id%>`,
             method   : "PUT",
             contentType : "application/json",
             processData : false,
            data : JSON.stringify(data)
        }

        $.ajax(request).done(function(response){
            // alert("Uspješno ste uredili svoj profil!");
            <!--location.replace(`/TalaShop/korisnik/urediProfil/<%=korisnik._id%>`);-->
        })

    })
</script>
</html>